@using SozlukForum.İs.Concrete;
@using SozlukForum.İs.Concrete.Yonetimler;
@using SozlukForum.VeriErisim.Concrete.Sql;

@{
    KullaniciYonetimi kullaniciYonetimi = KullaniciYonetimi.NesneUret();
    SozlukForum.WebTwitter.Models.SozlukEntitiesTest entities = new SozlukForum.WebTwitter.Models.SozlukEntitiesTest();
    var login = User.Identity.Name;
    var kullanici = kullaniciYonetimi.EpostaIleGetir(login);
    var kullaniciAyarlar = entities.Kullanicilar.Where(w => w.KullaniciAdi == kullanici.KullaniciAdi).FirstOrDefault();

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Scripts/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.fancybox.min.css" rel="stylesheet" />
    <!--Icon-->
    <link rel="shortcut icon" href="../Content/images/twitter-sozluk.png" />
    <title>@ViewBag.Title</title>
    @RenderSection("css", required: false)
    <style type="text/css">

        * {
            box-sizing: border-box;
        }

        body {
            font: 16px Arial;
        }

        .autocomplete {
            position: relative;
            display: inline-block;
        }

        input {
            border: 1px solid transparent;
            background-color: #f1f1f1;
            padding: 10px;
            font-size: 16px;
        }

            input[type=text] {
                background-color: #f1f1f1;
                width: 100%;
                border-radius: 5px;
            }

            input[type=submit] {
                background-color: white;
                color: black;
                cursor: pointer;
                border-radius: 5px;
            }

        .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 999;
            top: 100%;
            left: 0;
            right: 0;
        }

            .autocomplete-items div {
                padding: 10px;
                cursor: pointer;
                background-color: #fff;
                border-bottom: 1px solid #d4d4d4;
            }

                .autocomplete-items div:hover {
                    background-color: #e9e9e9;
                }

        .autocomplete-active {
            background-color: DodgerBlue !important;
            color: #ffffff;
        }
    </style>

</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/home">Misal Sözlük</a>
            <form class="my-auto d-inline-block" autocomplete="off" action="../Profile/Index">
                <div class="autocomplete" style="width:300px;">
                    <input id="kullaniciArama" style="height:40px;" type="text" name="Kullanici" placeholder="Arama">
                </div>
                <input type="submit" value="Ara">
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div id="sidebarLeft" class="col-sm-2 sidebar sticky-top sticky-offset-sidebarleft">
                <div class="profilDiv">
                    <ul>
                        <li> <a href="/home"> <i class="fa fa-home"></i>&nbsp;&nbsp;AnaSayfa</a></li>
                        <li>
                            <a href="../Profile/Index" onclick="ProfilGonder(@kullaniciAyarlar.KullaniciId)">
                                <img id="SolProfilResmi" src="#"
                                     alt="profilResmi">&nbsp;&nbsp;Profil
                            </a>
                        </li>
                        <li>
                            <a id="btnAyarlar" href="javascript:void(0)"> <i class="fa fa-sliders"></i>&nbsp;&nbsp;Ayarlar</a>
                        </li>
                        <li> <a onclick="CikisYap()" href="javasript:void(0)"> <i class="fa fa-sign-out"></i>&nbsp;&nbsp;Çıkış </a></li>
                        <li><a style="border-radius:30px; background-color:#17BF63; text-align:center;" id="paylasimYap" href="javascript:void(0)"> Paylaşım</a></li>
                    </ul>
                </div>
            </div>


            @RenderBody()



            <div id="sidebarRight" class="col-sm-3 sidebar sticky-top sticky-offset-sidebarright">
                <div class="text-center">
                    <div id="baslik">
                        <h4>En Çok Beğenilen Paylaşımlar </h4>
                    </div>
                </div>
                <div class="row text-center" id="encokbegeniDiv">

                </div>
            </div>
        </div>
    </div>



    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">

    var userId = '@ViewBag.userid';

     $(function ($_) {
            $("#paylasimYap").on("click", function (e) {
                $("#myPaylasimModal").modal("show");
                e.preventDefault();
            });
            $("#btnAyarlar").on("click", function (e) {
                $("#myAyarlarModal").modal("show");
                e.preventDefault();
            });
             ProfilFotografıBas();
             EnCokBegenilenPaylasimlar();

         //Arama İşlemi
         function autocomplete(inp, arr) {
             var currentFocus;
             inp.addEventListener("input", function (e) {
                 var a, b, i, val = this.value;
                 closeAllLists();
                 if (!val) { return false; }
                 currentFocus = -1;

                 a = document.createElement("DIV");
                 a.setAttribute("id", this.id + "autocomplete-list");
                 a.setAttribute("class", "autocomplete-items");

                 this.parentNode.appendChild(a);

                 for (i = 0; i < arr.length; i++) {
                     if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                         b = document.createElement("DIV");
                         b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                         b.innerHTML += arr[i].substr(val.length);
                         b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                         b.addEventListener("click", function (e) {
                             inp.value = this.getElementsByTagName("input")[0].value;
                             closeAllLists();
                         });
                         a.appendChild(b);
                     }
                 }
             });

             inp.addEventListener("keydown", function (e) {
                 var x = document.getElementById(this.id + "autocomplete-list");
                 if (x) x = x.getElementsByTagName("div");
                 if (e.keyCode == 40) {
                     currentFocus++;
                     addActive(x);
                 } else if (e.keyCode == 38) {
                     currentFocus--;
                     addActive(x);
                 } else if (e.keyCode == 13) {
                     e.preventDefault();
                     if (currentFocus > -1) {
                         if (x) x[currentFocus].click();
                     }
                 }
             });
             function addActive(x) {
                 if (!x) return false;
                 removeActive(x);
                 if (currentFocus >= x.length) currentFocus = 0;
                 if (currentFocus < 0) currentFocus = (x.length - 1);
                 x[currentFocus].classList.add("autocomplete-active");
             }
             function removeActive(x) {
                 for (var i = 0; i < x.length; i++) {
                     x[i].classList.remove("autocomplete-active");
                 }
             }
             function closeAllLists(elmnt) {
                 var x = document.getElementsByClassName("autocomplete-items");
                 for (var i = 0; i < x.length; i++) {
                     if (elmnt != x[i] && elmnt != inp) {
                         x[i].parentNode.removeChild(x[i]);
                     }
                 }
             }
             document.addEventListener("click", function (e) {
                 closeAllLists(e.target);
             });
         }

         var kullaniciListesi = [];

         $.get("../Home/kullaniciListesi", function (data, status) {
             if (status == "success") {
                 for (var item of data) {
                     kullaniciListesi.push(item.KullaniciAdi);
                 }
             }
         });
         autocomplete(document.getElementById("kullaniciArama"), kullaniciListesi);
     });

        //Paylaşım İşlemi
        function PaylasımEkle() {
            LoadinModal("Yükleniyor...", "Lütfen Bekleleyiniz");

            var formData = new FormData(document.getElementById("paylasim_Yap"));

            $.ajax({
                type: "POST",
                url: "../Paylasim/PaylasimEkle",
                data: formData,
                async: true,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.drm) {
                        swal({
                            title: "Gönderi Paylaşma",
                            text: "Başarıyla Gönderi Paylaşıldı.",
                            type: 'success',
                            showConfirmButton: true,
                            confirmButtonText: 'Tamam',
                            html: true
                        },
                            function () {
                                window.location.reload();
                            });
                    }
                    else {
                        Alert_Error("Paylaşma Hatası", data.msg);
                    }
                }, error: function (data) {
                    console.log(data.responseText);
                }
            });
        }

        //Profil Fotoğrafı İşlemi
        function ProfilFotografıBas() {
            $.get("../Home/ProfilResmiBas", function (d, s) {
                if (s == "success") {
                    if (d.ResimYolu != null) {
                        $("#SolProfilResmi").attr("src", d.ResimYolu);
                    }
                    else {
                        $("#SolProfilResmi").attr("src", "../Content/images/twitter-sozluk.png");
                    }
                }

            });
        }

        // Like İşlemi
        var isRun = false;
        function PaylasimBilLike(PaylasimId, btnL) {
            let isLike = $('#' + btnL).attr('data-like');
            if (!isRun) {
                isRun = true;
                if (isLike === 'true') {
                    $.ajax({
                        url: "../EtkilesimLike/EtkilesimLikeEkle",
                        data: { PaylasimId: PaylasimId }
                    })
                        .done(function () {
                            let likeCount = parseInt($('#lk-count-' + PaylasimId).text().trim());
                            likeCount++;
                            $('#lk-count-' + PaylasimId).html('' + likeCount);
                            $('#begeni-' + PaylasimId).css('color', 'green');
                            document.getElementById(btnL).setAttribute('data-like', 'false');
                            isRun = false;
                        });
                }
                else {
                    $.ajax({
                        url: "../EtkilesimLike/EtkilesimLikeKaldir",
                        data: { PaylasimId: PaylasimId }
                    }).done(function () {
                        let likeCount = parseInt($('#lk-count-' + PaylasimId).text().trim());
                        likeCount--;
                        $('#lk-count-' + PaylasimId).html('' + likeCount);
                        $('#begeni-' + PaylasimId).css('color', 'white');
                        document.getElementById(btnL).setAttribute('data-like', 'true');
                        isRun = false;
                    });
                }
            }
        }

        //Dislike İşlemi
        var isRun2 = false;
        function PaylasimBilDisLike(PaylasimId, btnD) {
            let isDislike = $('#' + btnD).attr('data-unliked');
            if (!isRun2) {
                isRun2 = true;
                if (isDislike === 'true') {
                    $.ajax({
                        url: "../EtkilesimDislike/EtkilesimDislikeEkle",
                        data: { PaylasimId: PaylasimId }
                    }).done(function () {
                        let dislikeCount = parseInt($('#dlk-count-' + PaylasimId).text().trim());
                        dislikeCount++;
                        $('#dlk-count-' + PaylasimId).html('' + dislikeCount);
                        $('#begenmeme-' + PaylasimId).css("color", "red");
                        isDislike = true;
                        document.getElementById(btnD).setAttribute('data-unliked', 'false');
                        isRun2 = false;
                    });
                }
                else {
                    $.ajax({
                        url: "../EtkilesimDislike/EtkilesimDislikeKaldir",
                        data: { PaylasimId: PaylasimId }
                    }).done(function () {
                        let dislikeCount = parseInt($('#dlk-count-' + PaylasimId).text().trim());
                        dislikeCount--;
                        $('#dlk-count-' + PaylasimId).html('' + dislikeCount);
                        $('#begenmeme-' + PaylasimId).css("color", "white");
                        document.getElementById(btnD).setAttribute('data-unliked', 'true');
                        isRun2 = false;
                    });
                }
            }
        }
        //Şifre İşlemi
        function SifreGoster() {
            var parola = document.getElementById("Parola");
            parola.type = (parola.type == 'password' ? 'text' : 'password');
        }
        //Ayarlar
        function AyarlarDuzenle() {
            var formData = new FormData(document.getElementById("ayarlar_form"));

            var datax = document.getElementById("ayarlar_form").getElementsByTagName("input");
            var msg = "";
            for (var i = 0; i < datax.length; i++) {
                if (datax[i].value == "") {
                    msg = datax[i].textContent + ' Ayarlar Formunda Boş Alanlar var!\n';
                }
            }
            if (msg) {
                Alert_Error(msg);
                return false;
            }
            $.ajax({
                type: "POST",
                url: "../Ayar/AyarlarDuzenle",
                data: formData,
                async: true,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log(data);
                    if (data.drm) {
                        swal({
                            title: "Profil Ayarları",
                            text: "Başarıyla Ayarlarınız Değiştirilmiştir.",
                            type: 'success',
                            showConfirmButton: true,
                            confirmButtonText: 'Tamam',
                            html: true
                        }, function () {
                                window.location.reload();

                        });

                    }
                }
            });
        }
        //Cıkış Yap
        function CikisYap() {
            swal({
                title: "Çıkış İşlemi.",
                text: "Çıkmak İçin Tıklayınız.",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Çıkış Yap",
                cancelButtonText: "Vazgeç",
                closeOnConfirm: false,
                html: true
            },
                function () {
                    window.location.href = '@Url.Action("Logoff","Login")';
                }
            );
         }

        //Takip İşlemleri
        var isRunFollow = false;
        function TakipEtBirak(KullaniciId, btnF) {
            if (!isRunFollow) {
                isRunFollow = true;
                let isFollow = $('#' + btnF).attr('data-follow');
                if (isFollow === 'true') {
                    $.ajax({
                        url: "../KullaniciTakip/TakipEtme",
                        data: { KullaniciId: KullaniciId },
                    }).done(function () {
                        let takipciCount = $('#Takipci-count-' + KullaniciId).text();
                        takipciCount++;
                        $('#Takipci-count-' + KullaniciId).html('' + takipciCount);
                        $('#takipBtn-' + KullaniciId).css('background-color', 'green');
                        $('#takipBtn-' + KullaniciId).html("Takip Ediliyor");

                        document.getElementById(btnF).setAttribute('data-follow', 'false');
                        isRunFollow = false;
                    });
                }
                else {
                    $.ajax({
                        url: "../KullaniciTakip/TakiptenCikarma",
                        data: { KullaniciId: KullaniciId },
                    }).done(function () {
                        let takipciCount = $('#Takipci-count-' + KullaniciId).text();
                        takipciCount--;
                        $('#Takipci-count-' + KullaniciId).html('' + takipciCount);
                        $('#takipBtn-' + KullaniciId).css('background-color', 'white');
                        $('#takipBtn-' + KullaniciId).html("Takip Et");
                        document.getElementById(btnF).setAttribute('data-follow', 'true');
                        isRunFollow = false;
                    });
                }
            }
    }

         //En Çok Beğenilen Paylaşımlar
        function EnCokBegenilenPaylasimlar() {
                $.ajax({
                    type: "GET",
                    url: "../Siralama/EnCokBegenilenPaylasimlar",
                    data: "",
                    dataType: "json",
                    success: function (data) {
                        if (data.drm) {
                            if (data.item.length > 0) {
                                for (var item of data.item) {
                                    var id = item.PaylasimId;
                                    console.log(id);
                                    var str = "";
                                    if (item.PaylasimMetni != null && item.PaylasimResimleri == null) {
                                        str += '         <div class="konu" style="padding-bottom:10px;">';
                                        if (item.PaylasimMetni.GirilenMetin.length > 75) {
                                            str += '             <a href="../Yorum/Index?PaylasimId=' + item.PaylasimId + '" > <strong>#</strong>' + item.PaylasimMetni.GirilenMetin.substring(0, 72) + '...' + '</a>';
                                        }
                                        else {
                                            str += '             <a href="../Yorum/Index?PaylasimId=' + item.PaylasimId + '" > <strong>#</strong>' + item.PaylasimMetni.GirilenMetin + '</a>';
                                        }
                                        str += '         </div>';
                                        str += '             <hr />';
                                        str += '             <hr />';
                                    }
                                    $("#encokbegeniDiv").append(str);
                                }
                            }
                        }
                    }
                });
          }

        function PaylasimYorumlari(page) {
            sessionStorage.setItem('Page', page);
            window.location.href = '../Yorum/Index?PaylasimId=' + page;
         }

        function TakipIdGonder(id) {
            sessionStorage.setItem("GidenID", id);
        }
        function ProfilGonder(id) {
            sessionStorage.setItem('ID', id);
        }
</script>

<script src="~/Content/js/jquery.fancybox.min.js"></script>
<script src="~/Scripts/sweetalert/sweetalert-dev.js"></script>
<script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/Alert.js"></script>


